$prim-red: hsl(0, 100%, 74%);
$prim-green: hsl(154, 59%, 51%);
$accent-blue: hsl(248, 32%, 49%);
$neutral-dark: hsl(249, 10%, 26%);
$neutral-grayish: hsl(246, 25%, 77%);
$shadow:   0 8px rgba($color: #000000, $alpha: 0.1);
$myWhite: hsl(0, 0%, 100%);

/* Weights: 400, 500, 600, 700 */
